<div class="container">
  <dx-form>
    <dxi-item itemType="group" caption="Clientes"></dxi-item>
  </dx-form>
  <dx-data-grid [dataSource]="clients" (onToolbarPreparing)="onToolbarPreparingClients($event)" [columnHidingEnabled]="true" [columnAutoWidth]="true">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-search-panel width="100%" [visible]="true"></dxo-search-panel>
    <dxi-column dataField="firstName" caption="Nombres"></dxi-column>
    <dxi-column dataField="lastName" caption="Apellidos"></dxi-column>
    <dxi-column dataField="document" caption="Documento"></dxi-column>
    <dxi-column type="buttons">
        <dxi-button text="Ver pólizas" [onClick]="onClickShowPolicies"></dxi-button>
    </dxi-column>
  </dx-data-grid>
</div>
