::ng-deep .dx-datagrid-headers {
  color: #FFFFFF;
  background-color: #567777;
}

::ng-deep .dx-datagrid-rowsview {
  border-top: 1px solid #ddd;
  background-color: White;
  border: 1px solid #DFDFDF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

::ng-deep .dx-form-group-caption {
  text-align: left;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-weight: 700;
  color: #567777;
  margin: 10px 0 6px;
  padding: 7px 0;
}

::ng-deep .dx-form-group-with-caption>.dx-form-group-content {
  border-color: #567777;
}

::ng-deep .master-detail-caption {
  padding: 0 0 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row>td,
.dx-datagrid-content .dx-datagrid-table .dx-row>tr>td {
  border-bottom: solid 1px rgb(224, 224, 224)
}

::ng-deep .center-seguros {
  text-align: center;
}

