<div #loader class="t-loader">
  <div class="t-blur"></div>
  <div class="t-row">
    <div class="t-growing-loader">
      <div class="t-static-loader">
        <div class="t-pulse-loader"></div>
      </div>
    </div>
  </div>
</div>
