::ng-deep div.t-loader {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  visibility: hidden;
  z-index: 999999;
}
::ng-deep  div.t-blur {
  background-color: #e8e8e8;
  opacity: 0.5;
  position: relative;
  height: 100%;
  width: 100%;
}
::ng-deep  div.t-row {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
::ng-deep div.t-growing-loader {
  width: 60px;
  height: 60px;
  border: solid 2px transparent;
  border-left-color: #ffa500;
  border-right-color: #ffa500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: growing-loader;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
::ng-deep div.t-static-loader {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
}
::ng-deep div.t-pulse-loader {
  width: 20px;
  height: 20px;
  background-color: #ffa500;
  border-radius: 50%;
  animation-name: pulse-loader;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes growing-loader {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(45deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes pulse-loader {
  0% {
      transform: scale(2);
      opacity: .6;
  }
  50% {
      transform: scale(1.5);
      opacity: .3;
  }
  100% {
      transform: scale(1);
      opacity: .1;
  }
}

